html, body {
    overflow: hidden;
}

pre {
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 51px;
    border-bottom: 1px solid #9F9F9F;
    overflow: hidden;
    white-space: nowrap;
}

#editor {
    position: absolute;
    top: 52px;
    right: 0;
    bottom: 0;
    left: 0;
}

.buttons {
    float: right;
    margin-top: 10px;
}

.header {
    margin: 8px;
}

.path {
    font-family: monospace;
}