/**
 * This work is copyright 2011 Jordon Mears. All rights reserved.
 * 
 * This file is part of Cider.
 * 
 * Cider is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Cider is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Cider.  If not, see <http://www.gnu.org/licenses/>.
 */

#fileList {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-spacing: 0px;
}

#fileList th {
    text-align: left;
    padding: 8px;
}

#fileList tbody tr td {
    margin: 0px;
    padding: 7px;
    border-bottom: 1px solid #DCDCDC;
}

#fileList tbody tr:last-child td {
    border: none;
}

#fileList tbody tr td.buttons {
    text-align: right;
    padding-right: 0px;
}

#fileList tbody tr:hover {
    background-color: #EEEEEE;
}

#fileList td.icon {
    text-align: center;
    vertical-align: center;
    width: 20px;
}

#fileList tfoot tr td {
    text-align: right;
    padding-bottom: 10px;
}

input {
    width: 280px;
}