/**
 * This work is copyright Jordon Mears. All rights reserved. See license.txt 
 * for details.
 */

.mainContainer {
    margin: auto;
    width: 980px;
}

.header {
    text-align: center;
}

.terminalIcon {
    width: 440px;
}