#fileList {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

#fileList th {
    text-align: left;
}

#fileList tr:nth-child(odd) {
    background-color: #FFFFFF;
}

#fileList tr:nth-child(even) {
    background-color: #EEEEEE;
}

#fileList td.icon {
    text-align: center;
    vertical-align: center;
    width: 20px;
}