<table class="table table-striped" id="file-list">
  <thead>
    <tr>
     <th colspan="2">Name</th>
     <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if(path) { %>
      <tr>
        <td class="icon">&nbsp;</td>
        <td><a href="?path=<%= up %><%= extra %>">..</a></td>
        <td>
          <div class="btn-group" style="float: right;">
            <a class="btn btn-mini" href="?path=<%= up %><%= extra %>">..</a>
          </div>
        </td>
      </tr>
    <% } %>
    <%= rows %>
  </tbody>
</table>