/**
 * This work is copyright 2011 Jordon Mears. All rights reserved.
 * 
 * This file is part of Cider.
 * 
 * Cider is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Cider is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Cider.  If not, see <http://www.gnu.org/licenses/>.
 */

html, body {
    overflow: hidden;
}

pre {
    margin: 0;
    padding: 0;
}

#editor {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
}

.buttons {
    z-index: 10;
    width: 360px;
    position: absolute;
    right: 20px;
    top: 0;
    background-color: rgb(250, 250, 250);
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border-bottom: 1px solid rgb(212, 212, 212);
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
}