<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand"><%= header %></div>
      <% if(sub_header) { %>
        <% if(sub_header_link) { %>
          <div class="navbar-text pull-left"><a href="<%= sub_header_link %>" style="color: #777777;"><%= sub_header %></a></div>
        <% } else { %>
          <div class="navbar-text pull-left"><%= sub_header %></div>
        <% } %>
      <% } %>
      <%= extra %>
    </div>
  </div>
</div>
