<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="hero-unit">
        <h1>Welcome to cider.</h1>
        <p>Cider is a collaborative web-based IDE that allows developers to
        work within a browser to edit code locally or from across the
        world.</p>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <h2>Identity</h2>
          <p>Cider allows users to edit the same file concurrently. Use the
          field below to indentify your browser session to others.</p>
          <form onsubmit="return false;">
            <input id="sname" type="text" placeholder="Name" value="<%- sname %>" />
          </form>
        </div>
        <div class="span6">
          <% if(terminal_link) { %>
            <h2>Terminal</h2>
            <p>Web-based terminal.</p>
            <p><a class="btn btn-primary" href="<%= terminal_link %>">Launch Terminal &raquo;</a></p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="span4">
      <h2>File Managers</h2>
      <p>Cider supports connecting to different types of file storage
      including a local file system, Dropbox and SFTP/SSH. Choose an option
      below.</p>
      <hr />
      <% if(enable_local_file_system) { %>
        <div>
          <h3>Local File System</h3>
          <p>Browse and edit files on the local disk.</p>
          <p><a class="btn btn-primary" href="./file/file-manager/">Launch &raquo;</a></p>
        </div>
      <% } %>
      <% if(enable_dropbox) { %>
        <div>
          <h3>Dropbox</h3>
          <p>Browse and edit files from a <a href="http://www.dropbox.com">Dropbox</a> account.</p>
          <p><a class="btn btn-primary" href="./dropbox/file-manager/">Launch &raquo;</a></p>
        </div>
      <% } %>
      <% if(enable_sftp) { %>
        <div>
          <h3>SFTP/SSH</h3>
          <p>Browse and edit files from any server running an SSH server.</p>
          <p><a class="btn btn-primary" href="javascript:void(0);" id="sftp-launch">Launch &raquo;</a></p>
        </div>
      <% } %>
    </div>
  </div>
</div>

<% if(enable_sftp) { %>
  <div class="modal hide fade" id="sftp">
    <div class="modal-header">
      <h3>SFTP/SSH Connection</h3>
    </div>
    <div class="modal-body">
      <form action="./sftp/file-manager/" class="form-horizontal" id="sftpf" method="post">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Host</label>
            <div class="controls">
              <input id="sftp_host" name="sftp_host" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">User</label>
            <div class="controls">
              <input id="sftp_user" name="sftp_user" placeholder="root" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
              <input id="sftp_password" name="sftp_password" type="password" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Path</label>
            <div class="controls">
              <input id="sftp_path" name="sftp_path" placeholder="/" type="text" />
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" href="javascript:void(0);" id="sftp-connect">Connect</a>
      <a class="btn" href="javascript:void(0);" id="sftp-cancel">Cancel</a>
    </div>
  </div>
<% } %>
