<!DOCTYPE HTML>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div style="margin: auto; width: 980px;">
      <h1 style="text-align: center;">Welcome to cider. Select and icon below to begin.</h1>
      <a href=""><img src="images/file-manager.png" /></a>
      <a href="{{terminalLink}}" target="_blank"><img src="images/terminal.png" /></a>
    </div>
  </body>
</html>
