<!--
This work is copyright Jordon Mears. All rights reserved. See license.txt for 
details.
-->
<!DOCTYPE html>
<html>
  <head>
    <link href="../shared.css" rel="stylesheet" type="text/css" />
    <link href="../editor.css" rel="stylesheet" type="text/css" />
    
    <script src="../javascript/prototype.js" type="text/javascript"></script>

    <title>{{ title }}</title>
  </head>
  <body>
    <div id="header">
      <div class="buttons">
        <a class="button left" href="javascript:void(0);" id="save" onclick="save();">{{ saveText }}</a><a class="button middle" href="../download/?file={{ file }}">Download</a><a class="button right" href="javascript:void(0);" onclick="window.close();">Close</a>
      </div>
      <div class="header">
        <span id="title">{{ fileName }}</span>
        <br />
        <span class="path">{{ path }}</span>
      </div>
    </div>
    <pre id="editor">{{ text }}</pre>
    <script src="../ace/build/src/ace.js" type="text/javascript"></script>
    <script src="../ace/build/src/theme-eclipse.js" type="text/javascript"></script>
    {% if mode != '' %}
    <script src="../ace/build/src/mode-{{ mode }}.js" type="text/javascript"></script>
    <script type="text/javascript">var mode = '{{ mode }}';</script>
    {% end %}
    <script type="text/javascript">
var tabWidth = {{ tabWidth }};
var file = '{{ file }}';
    </script>
    <script src="../javascript/editor.js" type="text/javascript"></script>
  </body>
</html>