<!DOCTYPE html>
<html>
  <head>
    <script src="prototype.js" type="text/javascript"></script>

    <title>{{title}}</title>
  </head>
  <body>
    <div style="position: absolute; top: 0px; right: 0px; left: 0px; height: 20px;">
      <div style="float: right;">
        <input type="button" value="Save" onclick="save();" />
        <input type="button" value="Close" onclick="window.close();" />
      </div>
      {{file}}
    </div>
    <pre id="editor" style="position: absolute; top: 20px; right: 0px; bottom: 0px; left: 0px;">{{text}}</pre>
    <script src="ace/build/src/ace.js" type="text/javascript"></script>
    <script src="ace/build/src/theme-eclipse.js" type="text/javascript"></script>
    <script src="ace/build/src/mode-python.js" type="text/javascript"></script>
    <script type="text/javascript">
var editor = null;

window.onload = function() {
    editor = ace.edit('editor');
    editor.setTheme('ace/theme/eclipse');
    var Mode = require('ace/mode/{{mode}}').Mode;
    editor.getSession().setMode(new Mode());
    editor.getSession().setTabSize(4);
    editor.getSession().setUseSoftTabs(true);
};

function save() {
    var text = editor.getSession().getValue();
    new Ajax.Request(
        'save-file.py',
        {
            method : 'post',
            parameters : {
                file : '{{file}}',
                text : text
            }
        }
    );
}
    </script>
  </body>
</html>
