<!DOCTYPE html>
<html>
  <head>
    <link href="../shared.css" rel="stylesheet" type="text/css" />
    <link href="../editor.css" rel="stylesheet" type="text/css" />
    
    <script src="../javascript/prototype.js" type="text/javascript"></script>

    <title>{{ title }}</title>
  </head>
  <body>
    <div id="header">
      <div style="float: right; margin-top: 10px;">
        <span id="notification"></span>
        <a class="button left" href="javascript:void(0);" onclick="save();">Save</a><a class="button right" href="javascript:void(0);" onclick="window.close();">Close</a>
      </div>
      <span id="title">{{ file }}</span>
    </div>
    <pre id="editor">{{ text }}</pre>
    <script src="../ace/build/src/ace.js" type="text/javascript"></script>
    <script src="../ace/build/src/theme-eclipse.js" type="text/javascript"></script>
    {% if mode != '' %}
    <script src="../ace/build/src/mode-{{ mode }}.js" type="text/javascript"></script>
    {% end %}
    <script type="text/javascript">
var editor = null;
var dirty = false;
var oldDirty = false;
var saving = false;

window.onload = function() {
    editor = ace.edit('editor');
    editor.setTheme('ace/theme/eclipse');
    {% if mode %}
    var Mode = require('ace/mode/{{ mode }}').Mode;
    editor.getSession().setMode(new Mode());
    {% end %}
    editor.getSession().setTabSize({{ tabWidth }});
    editor.getSession().setUseSoftTabs(true);
    editor.getSession().setValue(
        editor.getSession().getValue().replace(
            /[~]lb/g,
            decodeURIComponent('%7B')
        ).replace(
            /[~]rb/g,
            decodeURIComponent('%7D')
        )
    );
    
    editor.getSession().on('change', function() {
        dirty = true;
    });
    
    var canon = require('pilot/canon');
    canon.addCommand({
        name : 'save',
        bindKey : {
            win : 'Ctrl-S',
            mac : 'Command-S',
            sender : 'editor'
        },
        exec : save
    });
};

window.onbeforeunload = function() {
    if(dirty) {
        return 'Document has unsaved changes; changes will be lost.';
    }
    
    if(saving) {
        return 'Save operation in progress; changes could be lost.';
    }
};

function save() {
    saving = true;
    oldDirty = dirty;
    dirty = false;
    var text = editor.getSession().getValue();
    new Ajax.Request(
        '../save-file/',
        {
            method : 'post',
            parameters : {
                file : '{{ file }}',
                text : text
            },
            onSuccess : function(transport) {
                var response = transport.responseText.evalJSON();
                
                if(!response.success) {
                    if(!dirty) {
                        dirty = oldDirty;
                    }
                }
                
                document.getElementById('notification').innerHTML = response.notification;
                
                saving = false;
            }
        }
    );
}
    </script>
  </body>
</html>