<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#fileList}}
        <tr>
          <td>{{name}}</td>
          {{#isFile}}
          {{#path}}
          <td><a href="editor.py?file={{path}}/{{name}}" target="_blank">Edit</a></td>
          {{/path}}
          {{^path}}
          <td><a href="editor.py?file={{name}}" target="_blank">Edit</a></td>
          {{/path}}
          {{/isFile}}
          {{^isFile}}
          {{#path}}
          <td><a href="file-manager.py?path={{path}}/{{name}}">Browse</a></td>
          {{/path}}
          {{^path}}
          <td><a href="file-manager.py?path={{name}}">Browse</a></td>
          {{/path}}
          {{/isFile}}
        </tr>
        {{/fileList}}
      </tbody>
    </table>
  </body>
</html>