<!--
This work is copyright 2011 Jordon Mears. All rights reserved.

This file is part of Cider.

Cider is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cider is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Cider.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html>
  <head>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    
    <link href="../static/css/base.css" rel="stylesheet" />
    <link href="../static/css/file-manager.css" rel="stylesheet" />
    
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="brand">{% if path != '' %}{{ path }}{% else %}&nbsp;{% end %}</div>
        </div>
      </div>
    </div>
    
    <table class="table table-striped" id="fileList">
      <thead>
        <tr>
         <th colspan="2">Name</th>
         <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% if path != '' %}
          <tr>
            <td class="icon">&nbsp;</td>
            <td><a href="../file-manager/?path={{ up }}">..</a></td>
            <td>
              <div class="btn-group" style="float: right;">
                <a class="btn btn-mini" href="../file-manager/?path={{ up }}">..</a>
              </div>
            </td>
          </tr>
        {% end %}
        {% for file in filesList %}
          <tr>
            {% if file['isFile'] == True %}
              {% if path != '' %}
                <td class="icon">
                  <a href="../editor/?file={{ path }}/{{ file['name'] }}" onclick="return cider.filemanager.confirmOpen('{{ file['confirm'] }}');">
                    <img src="../static/images/icon/file.png" />
                  </a>
                </td>
                <td>
                  <a href="../editor/?file={{ path }}/{{ file['name'] }}" onclick="return cider.filemanager.confirmOpen('{{ file['confirm'] }}');">{{ file['name'] }}</a>
                </td>
                <td>
                  <div class="btn-group" style="float: right;">
                    <a class="btn btn-mini" href="../editor/?file={{ path }}/{{ file['name'] }}" onclick="return cider.filemanager.confirmOpen('{{ file['confirm'] }}');">Edit</a>
                    <a class="btn btn-mini" href="../download/?file={{ path }}/{{ file['name'] }}">Download</a>
                  </div>
                </td>
              {% else %}
                <td class="icon">
                  <a href="../editor/?file={{ file['name'] }}" onclick="return cider.filemanager.confirmOpen('{{ file['confirm'] }}');">
                    <img src="../static/images/icon/file.png" />
                  </a>
                </td>
                <td>
                  <a href="../editor/?file={{ file['name'] }}" onclick="return cider.filemanager.confirmOpen('{{ file['confirm'] }}');">{{ file['name'] }}</a>
                </td>
                <td>
                  <div class="btn-group" style="float: right;">
                    <a class="btn btn-mini" href="../editor/?file={{ file['name'] }}" onclick="return cider.filemanager.confirmOpen('{{ file['confirm'] }}');">Edit</a>
                    <a class="btn btn-mini" href="../download/?file={{ file['name'] }}">Download</a>
                  </div>
                </td>
              {% end %}
            {% else %}
              {% if path != '' %}
                <td class="icon">
                  <a href="../file-manager/?path={{ path }}/{{ file['name'] }}">
                    <img src="../static/images/icon/folder.png" />
                  </a>
                </td>
                <td>
                  <a href="../file-manager/?path={{ path }}/{{ file['name'] }}">{{ file['name'] }}</a>
                </td>
                <td>
                  <div class="btn-group" style="float: right;">
                    <a class="btn btn-mini" href="../file-manager/?path={{ path }}/{{ file['name'] }}">Browse</a>
                  </div>
                </td>
              {% else %}
                <td class="icon">
                  <a href="../file-manager/?path={{ file['name'] }}">
                    <img src="../static/images/icon/folder.png" />
                  </a>
                </td>
                <td>
                  <a href="../file-manager/?path={{ file['name'] }}">{{ file['name'] }}</a>
                </td>
                <td>
                  <div class="btn-group" style="float: right;">
                    <a class="btn btn-mini" href="../file-manager/?path={{ file['name'] }}">Browse</a>
                  </div>
                </td>
              {% end %}
            {% end %}
          </tr>
        {% end %}
      </tbody>
    </table>
    
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="brand">Cider</div>
          <div class="btn-group pull-right">
            <a class="btn" href="javascript:void(0);" onclick="cider.filemanager.createFile();">New File</a>
            <a class="btn" href="javascript:void(0);" onclick="cider.filemanager.createFolder();">New Folder</a>
          </div>
          <form class="navbar-form pull-right" onsubmit="return cider.filemanager.createFile();">
            <input id="name" type="text" class="span3" placeholder="Enter Name" />&nbsp;
          </form>
        </div>
      </div>
    </div>
    
    <script src="../static/jquery.min.js" type="text/javascript"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">var path = '{{ path }}';</script>
    <script src="../static/js/ns.js" type="text/javascript"></script>
    <script src="../static/js/file-manager.js" type="text/javascript"></script>
  </body>
</html>