<!--
This work is copyright Jordon Mears. All rights reserved. See license.txt for 
details.
-->
<!DOCTYPE html>
<html>
  <head>
    <link href="shared.css" rel="stylesheet" type="text/css" />
    <link href="index.css" rel="stylesheet" type="text/css" />
    
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="mainContainer">
      <h1 class="header">Welcome to cider; select and icon below to begin.</h1>
      <a href="./file-manager/"><img src="./images/file-manager.png" /></a>
      {% if terminalLink != None %}
        <a href="{{ terminalLink }}"><img class="terminalIcon" src="./images/terminal.png" /></a>
      {% end %}
    </div>
  </body>
</html>