<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div style="margin: auto; width: 980px;">
      <h1 style="text-align: center;">Welcome to cider; select and icon below to begin.</h1>
      <a href="./file-manager/"><img src="./images/file-manager.png" /></a>
      <a href="{{terminalLink}}" target="_blank"><img src="./images/terminal.png" style="width: 440px;" /></a>
    </div>
  </body>
</html>
