<div class="modal hide fade" id="settings">
  <div class="modal-header">
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" onsubmit="return false;">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="stw">Tab Width (code)</label>
          <div class="controls">
            <input type="text" id="stw" value='4' />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="stwm">Tab Width (markup)</label>
          <div class="controls">
            <input type="text" id="stwm" value='2' />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="shm">Highlight Mode</label>
          <div class="controls">
            <select id="shm">
              <option value="<%= mode %>">Default - <%= mode %></option>
              <option value="c_cpp">C/C++</option>
              <option value="clojure">Clojure</option>
              <option value="coffee">CoffeeScript</option>
              <option value="coldfusion">ColdFusion</option>
              <option value="csharp">C#</option>
              <option value="css">CSS</option>
              <option value="golang">Go</option>
              <option value="groovy">Groovy</option>
              <option value="haxe">Haxe</option>
              <option value="html">HTML</option>
              <option value="java">Java</option>
              <option value="javascript">JavaScript</option>
              <option value="json">JSON</option>
              <option value="latex">LaTeX</option>
              <option value="less">LESS</option>
              <option value="liquid">Liquid</option>
              <option value="lua">Lua</option>
              <option value="markdown">Markdown</option>
              <option value="ocaml">OCaml</option>
              <option value="perl">Perl</option>
              <option value="pgsql">pgSQL</option>
              <option value="php">PHP</option>
              <option value="powershell">PowerShell</option>
              <option value="python">Python</option>
              <option value="ruby">Ruby</option>
              <option value="scad">OpenSCAD</option>
              <option value="scala">Scala</option>
              <option value="scss">Sass</option>
              <option value="sh">Shell/Bash</option>
              <option value="sql">SQL</option>
              <option value="svg">SVG</option>
              <option value="text">Text</option>
              <option value="textile">Textile</option>
              <option value="xml">XML</option>
              <option value="xquery">XQuery</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="sttws">Trim Trailing Whitespace<br />(on save)</label>
          <div class="controls">
            <input type="checkbox" id="sttws" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="ssn">Force Single Newline<br />(on save)</label>
          <div class="controls">
            <input type="checkbox" id="ssn" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="javascript:void(0);" onclick="$('#settings').modal('hide');">Done</a>
  </div>
</div>