<div class="buttons">
  <div class="btn-group pull-right">
    <a class="btn <%= save_class %>" href="javascript:void(0);" id="save"><%= save_text %></a>
    <a class="btn" href="../download/?file=<%= file %>" target="_blank">Download</a>
    <a class="btn" href="javascript:void(0);" id="settings-btn">Settings</a>
  </div>
  <div class="navbar-text pull-right">|&nbsp;&nbsp;&nbsp;</div>
  <ul class="nav pull-right">
    <li class="dropdown">
      <a href="#" id="editors-title" class="dropdown-toggle" data-toggle="dropdown">0 editors</a>
      <ul id="editors-list" class="dropdown-menu">
        <li><a>No editors...</a></li>
        <!--
        <li class="divider"></li>
        <li><a href="#">Set name...</a></li>
        -->
      </ul>
    </li>
  </ul>
</div>
