Source: cider
Section: devel
Priority: optional
Maintainer: Jordon Mears <jordoncm@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: cider
Architecture: all
Description: Web-based IDE
 Provides a web based file manager and IDE like code editor.
